.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images5.alphacoders.com/445/445906.jpg');
  background-size: cover;
  color: #ffffff;
  height: 1000px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

img {
  position: relative;

  left: 0px;
  bottom: -345px;

  width: 35px;
}
