/* mario */

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images5.alphacoders.com/445/445906.jpg');
  background-size: cover;
  color: #ffffff;
  height: 1000px;
}

#mario {
  position: relative;

  left: 0px;
  bottom: -347px;

  width: 35px;
}

.goomba {
  height: 25px;

  position: relative;

  left: 590px;
  top: 175px;
}

.mirror {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1, -1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
